<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}{% endblock %}
</head>


<body>

    <header>

        <!-- NAVBAR DESKTOP -->
        <nav class="navbar navbar-expand-lg navbar-light navbarDesktop">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{{ path('home') }}">
                        <img src="/image/logo.png" width="80" height="80" class="d-inline-block align-top" alt="Snowtricks_logo">
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    <span>|</span>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tricks') }}">Tricks</a>
                    </li>
                    <span>|</span>

                    {%  if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Log out</a>
                    </li>
                    <span>|</span>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Sign in</a>
                    </li>
                    <span>|</span>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('registration') }}">Sign up</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>

        <!-- NAVBAR MOBILE -->
        <nav class="navbar navbarMobile navbar-light bg-light fixed-bottom">
            <div class="row w-100 text-center pl-3">
                <div class="col">
                    <a class="nav-link" href="{{ path('home') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
                </div>
                <div class="col">
                    <a class="nav-link" href="{{ path('tricks') }}"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
                </div>

                {%  if app.user %}
                    <div class="col">
                        <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </div>

                {% else %}
                    <div class="col">
                        <a class="nav-link" href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>



<body>
{% block body %}{% endblock %}
</body>

{% block footer %}
    <footer>
        <div class="container-footer">
            <div>
                <a href="{{ path('home') }}">Copyright @2020</a>
            </div>
        </div>
    </footer>
{% endblock %}


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        bsCustomFileInput.init();
    </script>
{% endblock %}
</body>
</html>
